$headerColor: red;


.container {
  max-width: 1199px;
  text-align: center;
  margin: 0 auto;
}


.logo {
  width: 200px;
  height: 200px;
  background-image: url(./logo512.png);
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}